[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lightgbm = "*"
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
xgboost = "*"
matplotlib = "*"
seaborn = "*"
flask = "*"
joblib = "*"
tqdm = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
